
<h1>Edit Users</h1>


<div>

	
	<%= form_for @user do |f| %>

	<div>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.collection_select(:city_id, City.all, :id, :name) %>
	</div>


		<%= f.submit "Update User" %>


	</div>

	

</div>
<% end %>

