<h1>Edit Users</h1>


<div>

	
	<%= form_for @user do |f| %>

	<div>
		<%= f.text_field :first_name, placeholder: "First Name" %>
	</div>

	<div>
		<%= f.text_field :current_city, placeholder: "Current City" %>
	</div>


		<%= f.submit "Update User" %>


	</div>

	

</div>
<% end %>
