<!-- <div class="welcome-splash"> -->
<% content_for :head do %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
<% end %>
<h1>A travel-writing platform</h1>
<p>We shall not cease from exploration and the end of our exploring will be to arrive where we started and know the place for the first time. - T.S Eliot</p>
<!-- </div> -->

<div id="map-container">
  <div id="map-canvas"></div>
</div>
<!-- <%= javascript_include_tag "map/gmap" %> -->