<link href='https://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>


<div class="image">
  <%= image_tag(@city.imgurl) %>
  <h1 class="city_title"><%= @city.name %></h1>
</div>



<%= button_to "Add a post to this city", new_post_path(@city.id), method: "get" %>

<div>

  <% @city.posts.reverse.each do |post| %>
  	<div class='list-group'>
  		<%= link_to post.title, user_posts_path(post) %>
  	</div>


</div>  
<% end %>


