/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
body {
  background: url("https://images.unsplash.com/photo-1414500923875-1704944d8df7?q=80&fm=jpg&s=12210a3615dc22ff75474859be4e689c")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.city_title {
  font-size: 50px;
  font-family: 'Rubik One', sans-serif;
  color: white;
  position: absolute; 
   top: 90px; 
   left: 0; 
   width: 100%; 
}
img {
  width: 700px;
  height: 350px;
  position: relative; 
  border-radius: 50%;  

}
.blurry {
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.5), rgba(255,255,255,0));
}

div.blurry {
  margin: 5px;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.5), rgba(255,255,255,0));
}
a.navbar-brand {
  font-size: 38px;
  line-height: 65px;
  padding: 10px;
}

.blurry span {
  font-weight: bold;
  color: #000000; 
}

p.blurry {
  color: black;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.5), rgba(255,255,255,0));
}


form.button_to input {
  -webkit-border-radius: 50px 50px;
  border: 0px;
  background-color: #207CCA;
  font-weight: bolder;
  padding: 10px;
  margin: 15px;
}

.red.btn.btn-default.navbar-right.navbar-btn:hover {
  background-color: red;
}

div.list-group {
  color: black;
  width: 45%;
  margin: auto;
  width: 60%;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
}

.links {
  font-size: 14px;
  background: linear-gradient(90deg, rgba(255,255,255,0.4), rgba(255,255,255,0.5), rgba(255,255,255,0.4));
}




